/*===================================================================================*/
 /* |  CADASTRO |*/

fieldset{
	margin: 20px;	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
	padding: 10px;
}

fieldset legend{
	width: 90%;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	padding: 5px;
}

.campo{
	width: 100%;
	height: 30px;
}

/*===================================================================================*/
/* inputs */


/*===================================================================*/
/*                           MEDIA QUERIE                            */
/*===================================================================*/















/*


*/
