*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

:root{
	--cor1: #696969;
	--cor2: #363636;
	--cor3: #fff;
	--cor4: #969696; /*#B5B5B5;*/
	--cor5: #000000;
	--cor6: steelblue;
}

body{	
	background-color: var(--cor1);
	font-family: Arial;
}

h1{
	text-align: center;
}

.img_resposivo{
	max-width: 100%;
	height: auto;
}

.btn{
	padding: 5px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	background-color: var(--cor2);
	color: var(--cor3);
	cursor: pointer;
}

.btn2{
	margin: 1px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	padding: 5px 10px 0 ;
	background-color: var(--cor2);
}

.titulo{
	font-size: 30px;
}


/* =========================================== */
/* MAIN */
 .conteiner{	 
	width: 70%;
	margin: auto;
}
@media only screen and (max-width: 1000px){
	.conteiner{
		width: 80%;
	}
}

section.principal{
	background-color: var(--cor4);
	margin-top: 30px;
	margin-bottom: 30px; 
	border: 1px solid ;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;	
	padding: 20px;
}

footer{
	width: 100%;
	height: 200px;
	background-color: var(--cor2); 
}

/* =========================================================================================== */
/* MENU */
/* =========================================================================================== */
/* ========================================= */
/* MENU DESKTOP */
nav{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid var(--cor5);
	background-color: var(--cor2);
	position: relative;
}

ul.menu{
	width: 100%;	
	padding: 0 10px 0;
	list-style-type: none;	
	display: flex;
}
ul.menu li{
	text-align: left;
}
ul.menu li a{
	padding: 0px 20px 0px;
	color: var(--cor6);
	text-decoration: none;	
	display: block;
}
ul.menu li a:hover{
	background-color: rgba(0,0,0,0.1);	
}

/* ========================================= */
/* MENU MOBILE */
.lbl-menu, ul.menu-movel, #check{
	display: none;
}
.lbl-menu{		
	width: 50px;
	font-size: 30px;
	padding-left: 15px;
	color: var(--cor3);
	cursor: pointer;
}
ul.menu-movel{
	width: 35%;	
	margin-top: -200px;
	background-color: var(--cor2);
}
ul.menu-movel li{
	text-align: center;
	width: 100%;
	border-bottom: 1px solid var(--cor5);		
}
ul.menu-movel li a{
	display: block;
	text-decoration: none;
	color: var(--cor6);
}
ul.menu-movel li a:hover{
	background-color: rgba(0,0,0,0.1);
}
#check:checked ~ ul.menu-movel{
	margin-top: 0;
}
@media only screen and (max-width: 1000px){
	ul.menu{
		display: none;
	}
	.lbl-menu, ul.menu-movel{
		display: block;
	}
}

/* =========================================================================================== */
/* HOME */
/* =========================================================================================== */
.aviso-usuario ul{
	margin-left: 18px;
}

/* =========================================================================================== */
/* CADASTRO */
/* =========================================================================================== */
 fieldset{
	margin: 20px;	
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
	padding: 10px;
}
fieldset legend{
	width: 90%;
	text-align: center;
	border: 1px solid var(--cor5);
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	padding: 5px;
}
fieldset .campo{
	width: 100%;
	height: 30px;
}

/* =========================================================================================== */
/* LISTAR */
/* =========================================================================================== */

td{
	padding: 5px;
}

tr:hover{
	background-color: rgba(0,0,0,0.3);
}
