/*=======================================================================================================================*/
/*  | GERAL |*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{	
	background-color: #696969 ;
	font-family: Arial;
}

h1{
	text-align: center;
}

.btn{
	padding: 5px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;	
	background-color: #363636;
	color: #fff;
}

/*=======================================================================================================================*/
 /*  | CONTEINER || PRINCIPAL  ||  CADASTRO |*/
 .conteiner{	 
	width: 70%;
	margin: auto;
}

section.cadastro, section.principal, section.lista{
	background-color: #969696; /*#B5B5B5;*/
	border: 1px solid #000000;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;	
	padding: 20px;
}

/*===================================================================*/
/*                           MEDIA QUERIE                            */
/*===================================================================*/

@media only screen and (max-width: 1000px){
	.conteiner{
		width: 80%;
	}
}

@media only screen and (max-width: 500px){
	.conteiner{
		width: 95%;
	}
}